release: python manage.py migrate
web: daphne helpdesk.asgi:application --port $PORT --bind 0.0.0.0 -v2
celery: celery -A helpdesk worker --pool==solo -l info
celerybeat: celery -A helpdesk beat -l info